#include <os2.h>
#include "rc.h"

MENU RES_CLIENT
{
   SUBMENU "~Help", M_HELP
   {
      MENUITEM "Help ~index...", MI_HELPINDEX
      MENUITEM "~General help...", MI_GENERALHELP
      MENUITEM "~Using help...", MI_HELPFORHELP
      MENUITEM "~Keys help...", MI_KEYSHELP
      MENUITEM SEPARATOR
      MENUITEM "~Product information...", MI_PRODINFO
   }
}

HELPTABLE HELP_CLIENT
{
   HELPITEM RES_CLIENT, SUBHELP_CLIENT, EXTHELP_CLIENT
}

HELPSUBTABLE SUBHELP_CLIENT
{
   HELPSUBITEM MI_HELPINDEX, MI_HELPINDEX
   HELPSUBITEM MI_GENERALHELP, MI_GENERALHELP
   HELPSUBITEM MI_HELPFORHELP, MI_HELPFORHELP
   HELPSUBITEM MI_KEYSHELP, MI_KEYSHELP
   HELPSUBITEM MI_PRODINFO, MI_PRODINFO
}
