#include <os2.h>
#include "contain2.h"

ICON ICO_ITEM CONTAIN1.ICO

MENU RES_CLIENT
{
   SUBMENU "~Views", M_VIEWS
   {
      MENUITEM "~Icon", MI_ICON
      MENUITEM "~Detail", MI_DETAIL
      MENUITEM "~Tree", MI_TREE
      MENUITEM "~Name/flowed", MI_NAMEFLOWED
      MENUITEM "Te~xt/flowed", MI_TEXTFLOWED
   }
   SUBMENU "E~xit", M_EXIT
   {
      MENUITEM "E~xit", MI_EXIT
      MENUITEM "~Resume", MI_RESUME
   }
}
