#include <os2.h>
#include "slider.h"

DLGTEMPLATE IDD_FCOPYDLG LOADONCALL MOVEABLE DISCARDABLE
{
   DIALOG  "File Copy", IDD_FCOPYDLG, 67, 80, 324, 104,
      WS_VISIBLE,
      FCF_SYSMENU | FCF_TITLEBAR
   {
      LTEXT "Progress Indicator", -1, 115, 30, 80, 12
      CONTROL  "", IDS_SLIDER, 12, 43, 300, 46, WC_SLIDER,
         SLS_HORIZONTAL | SLS_OWNERDRAW | SLS_CENTER |
         SLS_SNAPTOINCREMENT | SLS_READONLY | SLS_RIBBONSTRIP |
         SLS_HOMELEFT | SLS_PRIMARYSCALE1 | WS_GROUP | WS_TABSTOP |
         WS_VISIBLE
         CTLDATA 12, 0, 11, 26, 0, 0
      PUSHBUTTON "~Start", IDP_START, 6, 4, 40, 14
      PUSHBUTTON "Cancel", IDP_CANCEL, 49, 4, 40, 14
   }
}
