#include <os2.h>
#include "button.h"

MENU IDR_CLIENT
{
   SUBMENU "~File", IDM_FILES
   {
      MENUITEM "~Display dialog...", IDM_START
      MENUITEM "E~xit", IDM_EXIT
   }
}


DLGTEMPLATE IDD_BUTTON PRELOAD MOVEABLE DISCARDABLE
{
   DIALOG "Button dialog", IDD_BUTTON, 28, 23, 258, 110,
           FS_NOBYTEALIGN | WS_VISIBLE,
           FCF_SYSMENU | FCF_TITLEBAR
           PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_WHITE
   {
      LTEXT "Radio Button Styles", -1, 135, 95, 86, 8
      LTEXT "Check Box Styles", -1, 11, 95, 76, 8
      LTEXT "Push Button Styles", -1, 55, 48, 82, 8
      AUTOCHECKBOX "BS_AUTOCHECKBOX", IDC_AUTOCHECKBOX,
         11, 81, 106, 10
      AUTOCHECKBOX "BS_AUTO3STATE", IDC_AUTO3STATE,
         11, 66, 89, 10, BS_AUTO3STATE | WS_GROUP
      AUTORADIOBUTTON "BS_AUTORADIOBUTTON", IDR_AUTORADIOBUTTON,
         131, 81, 121, 10
      AUTORADIOBUTTON "BS_NOPOINTERFOCUS", IDR_NOPOINTER,
         131, 66, 116, 10, BS_NOPOINTERFOCUS
      PUSHBUTTON "BS_HELP", IDP_HELP,
         20, 25, 53, 14, BS_HELP
      PUSHBUTTON "BS_NOBORDER", IDP_NOBORDER,
         104, 25, 82, 14, BS_NOBORDER
      DEFPUSHBUTTON "OK", DID_OK, 10, 5, 40, 12 | WS_GROUP
   }
}
