#include <os2.h>
#include "LIST1.H"

DLGTEMPLATE IDD_LISTBOX LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Listbox Example", IDD_LISTBOX, 12, 6, 170, 107, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR
            PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_WHITE
    BEGIN
        LISTBOX         IDL_LISTBOX, 14, 28, 135, 63, LS_MULTIPLESEL
            PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_WHITE
        PUSHBUTTON      "OK", DID_OK, 3, 1, 40, 14
        PUSHBUTTON      "Cancel", DID_CANCEL, 48, 1, 40, 14
    END
END
